Architecture_1/auth
Architecture_1/.terraform

Architecture_1/.terraform.lock.hcl

Architecture_1/terraform.tfstate
Architecture_1/tmp/*




Architecture_2
Architecture_2/auth
Architecture_2/.terraform
Architecture_2/.terraform.lock.hcl
Architecture_2/terraform.tfstate

